apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-auto-diff
#  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Aniketsabharwal001/argocd.git
    targetRevision: master
    path: .
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
  ignoreDifferences:
    - group: apps
      kind: Deployment
      name: apache-deployment
      jsonPointers:
        - /spec/replicas
